h1 {
  text-align: center;
}
.contenedor-1 {
  display: flex;
  justify-content: center;
}
.contenedor-2 {
  display: flex;
  justify-content: center;
}
.verde {
  background-color: green;
  margin: 10px;
  height: 100px;
  width: 200px;
  opacity: 0.5;
}
.rojo {
  background-color: red;
  margin: 10px;
  height: 100px;
  width: 200px;
  opacity: 0.5;
}
.amarillo {
  background-color: yellow;
  margin: 10px;
  height: 100px;
  width: 200px;
  opacity: 0.5;
}
.azul {
  background-color: blue;
  margin: 10px;
  height: 100px;
  width: 200px;
  opacity: 0.5;
}
.btn {
  text-align: center;
}
.resaltar-color {
  opacity: 1;
}
.cursor-pointer {
  cursor: pointer;
}
